@lightGreen: #B2D1B2;
@green: #338533;
@darkGreen: #005C00;
@darkGreen2: #004016;
@white: #FFFFFF;
@blue: #428BCA;
@darkGray: rgb(34, 34, 34);
@lightGray: rgb(153, 153, 153);

body {
	padding-top: 55px;
	padding-bottom: 40px;
}

.haha-nav-container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.haha-logo-container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.haha-nav {
  height: 46px;
}

.haha-panel-md {
	width: 500px;
	margin: auto;
}

.haha-signup-panel {
	
}

.haha-show-user-panel {
		
}

.haha-form-group {
}

.haha-sidebar {
  padding-top: 10px;
}

.haha-sidebar .nav > .active > a {
  font-weight: bold;
}
