<div class='haha-maincontent'>
  <form role='form' action="/investigation/create" method="POST" class="haha-form-signup">
    <h3>新建<%= title %></h3>
    <hr/>
    <%- partial("partials/application_summary.ejs") %>
    <%- partial("partials/basic.ejs") %>
  </form>
</div>
