<div id="new-guarantor-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">添加担保人</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="name" class="col-sm-3 control-label">担保人名称</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" name="name" />
            </div>
          </div>
          <div class="form-group">
            <label for="legal_person" class="col-sm-3 control-label">法人代表</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="legal_person" name="legal_person" />
            </div>
          </div>
          <div class="form-group">
            <label for="registered_capital" class="col-sm-3 control-label">注册资金</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="registered_capital" name="registered_capital" />
            </div>
          </div>
          <div class="form-group">
            <label for="total_asset" class="col-sm-3 control-label">总资产</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="total_asset" name="total_asset" />
            </div>
          </div>
          <div class="form-group">
            <label for="net_asset" class="col-sm-3 control-label">净资产</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="net_asset" name="net_asset" />
            </div>
          </div>
          <div class="form-group">
            <label for="bonding_amount" class="col-sm-3 control-label">对外担保金额</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="bonding_amount" name="bonding_amount" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="guarantor-modal-save">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
