<div class="row">
  <div class="col-md-2">开户情况</div>
  <div class="col-md-2 col-md-offset-8">
    <button type="button" class="btn btn-primary btn-block btn-xs" data-toggle="modal" data-target="#new-bank_account-modal">添加帐号</button>
  </div>
</div>
<hr class="haha-hr-compact"/>
<%- partial('modals/bank_account') %>
<table class="table table-condensed table-hover" id="bank_accounts">
  <thead>
    <tr>
      <th style="width: 20%;">是否为基本账户</th>
      <th>开户行</th>
      <th>帐号</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
